/ASCIIVAlue.class
/AreaOfTriangle.class
/ArmstrongNumber.class
/AverageNumber.class
/FactorialNumRecursion.class
/FactorialNumber.class
/FibonacciSeriesRecursion.class
/Fibonacciseries.class
/GCD.class
/LargestOfThreeNumbers.class
/OddOREvenNumber.class
/PalindromeString.class
/Palindrone.class
/PrimeNumber.class
/RandomForLoop.class
/SwapNumbers.class
/randomnumber.class
/reverseNumber.class
/reverseNumberRecursion.class
/vowels.class
/PalindromeNumMethod.class
/SwapNumbersUsingMethod.class
/ArmstrongNumberMethod.class
/Palindrome.class
